/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 26, 2022, 2:59:57 PM
    Author     : nados
*/

.trancperency{
    -fx-background-color: transparent;
}

.bckGroundColod{
    -fx-background-color: #072a40;
 
}

.corneredBtn{
    -fx-background-radius: 15px;
}

.text{
    -fx-font: Comic Sans MS;
    -fx-font-size: 100px;
    -fx-text-fill : #e7ffdb;
    -fx-stroke: #e7ffdb;
    -fx-stroke-width: 1;
    -fx-font-style : bold;
}

.widthAndHieght{
    -fx-pref-width: 1000;
    -fx-pref-height: 600;
}

XFirstPartIcon{
    -fx-text-fill : #1fa4e5
}

XSecondPartIcon{
    -fx-text-fill : #2a3645
}

oIcon{
    -fx-text-fill : #6ac08f
}

